networks:
  internal:
    external: true  # using existing network

services:
  patient-service-db:
    image: postgres:15
    container_name: patient-service-db
    restart: always
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: admin_user
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - internal
    ports:
      - "5432:5432"

  auth-service-db:
    image: postgres:15
    container_name: auth-service-db
    restart: always
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: admin_user
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata_auth:/var/lib/postgresql/data
    networks:
      - internal
    ports:
      - "5001:5432"

  auth-service:
    build: ./auth-service # Путь к папке с проектом и Dockerfile
    container_name: auth-service
    restart: on-failure
    environment:
      # Переопределяем параметры из application.yml для работы внутри Docker
      - SPRING_DATASOURCE_URL=jdbc:postgresql://auth-service-db:5432/auth_db
      - SPRING_DATASOURCE_USERNAME=admin_user
      - SPRING_DATASOURCE_PASSWORD=password
    depends_on:
      - auth-service-db
    networks:
      - internal
    volumes:
      - ./certs-shared:/app/certs # Папка на компе : папка в контейнере
    # Порт 5000 наружу можно не пробрасывать, если ходить только через Gateway (4004)
    # Но для отладки на этапе разработки оставим:
    ports:
      - "5000:5000"

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    restart: always
    environment:
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_NODE_ID: 0
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "0@kafka:9093"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"
    volumes:
      - ./kafka/data:/var/lib/kafka/data
    networks:
      - internal
    ports:
      - "9092:9092"
      - "9094:9094"

  patient-service:
    build:
      context: ./patient-service
    container_name: patient-service
    restart: always
    env_file:
      - ./patient-service/.env
    depends_on:
      - patient-service-db
      - kafka
    networks:
      - internal
    ports:
      - "9000:9000"  # gRPC (добавляем для консистентности)

  billing-service:
    build:
      context: ./billing-service
    container_name: billing-service
    restart: always
    env_file:
      - ./billing-service/.env
    depends_on:
      - patient-service-db
      - kafka
    networks:
      - internal
    ports:
      - "4001:4001"  # HTTP / Actuator
      - "9001:9001"  # gRPC

  analytics-service:
    build:
      context: ./analytics-service
    container_name: analytics-service
    restart: always
    env_file:
      - ./analytics-service/.env
    depends_on:
      - patient-service-db
      - kafka
    networks:
      - internal
    ports:
      - "4002:4002"  # HTTP / Actuator
      - "9002:9002"  # gRPC

  api-gateway:
    build:
      context: ./api-gateway
    container_name: api-gateway
    restart: always
    depends_on:
      - auth-service
      - patient-service
      - billing-service
      - analytics-service
    networks:
      - internal
    volumes:
      - ./certs-shared:/app/certs
    ports:
      - "4004:4004"  # HTTP / Gateway

volumes:
  pgdata:
  pgdata_auth:
